html, body {
    margin: 0;
    padding: 0;
    scrollbar-width: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(https://data.1freewallpapers.com/download/gradient-green-texture-background-2880x1800.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

header {
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .content h1 {
    font: 400 6rem Bevan;
    text-align: center;
    margin: 8rem 0 1rem;
    padding: 0;
    line-height: 6rem;
    text-shadow: 0 0 10px #012025;
}

header .content h2, header .content h3 {
    font: 400 1.5rem Poly;
    text-align: center;
    color: #FFFFFF;
    margin: 1rem 0;
}

header .bg {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
}

header .bg img {
    width: 100%;
    max-width: 550px;
}

#first { 
    animation: slideInLeft 1s;
}

#second { 
    animation: slideInRight 1s;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-2000px);
    } 100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(2000px);
    } 100% {
        transform: translateX(0);
    }
}

header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
}

header .content div {
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
}

button {
    width: 18rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background: none;
    color: #FFFFFF;
    padding: 1rem 2rem;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    font: 400 1rem Poly;
    font-weight: bolder;
}

button:hover{
    text-shadow: 0 0 10px #012025;
    box-shadow: 0 0 10px #012025;
    background: #ffffff38;
}

nav {
    width: 100%;
    height: 4rem;
    text-align: right;
    padding-top: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav a {
    font: 400 1.3rem Poly;
    color: #FFFFFF;
    text-decoration: none;
    margin: auto 2rem;
    border-bottom: 2px solid rgb(255, 255, 255, 0);
    transition: .2s ease-in-out;
}

nav a:hover {
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
}

#fazendas {
    margin-top: 100vh;
    padding: 2rem 0 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

#fazendas iframe {
    width: 100%;
}

iframe body, html, .player, .fallback {
    height: auto !important;
}

.cardContainer {
    justify-content: center;
}

#fazendas .card {
    max-width: 800px;
    height: 300px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 70%;
    column-gap: 2rem;
    background: rgba(252, 252, 252, 0.966);
    border-radius: 2px;
    padding: 1rem;
    transform: translateX(53px);
    box-shadow: 0px 0px 10px #012025;
}

#fazendas .card iframe {
    margin-left: -105px;
    box-shadow: 0px 0px 10px #012025;
    width: 500px;
    height: 290px;
}

.textcontent {
    color: black;
    margin-left: 180px;
}

#fazendas .card li {
    margin: 0 0 0.5rem;
    text-align: left;
    font: 400 1rem Poly;
    color: #012025;
    align-items: center;
}

#fazendas .card span {
    line-height: 0.5rem;
}

#fazendas .card h1, h2 {
    margin: 0 0 0.5rem;
    text-align: left;
    font: 400 1.5rem Poly;
    color: #012025;
}

#fazendas .card h2 {
    margin: -0.2rem 0 0 1rem;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
}

#center {
    height: 100vh;
    display: flex;
}

#infos {
    margin: auto 0;
    width: 100%;
    padding: 2rem 0;
}

#infos h2 {
    text-shadow: 0 0 10px #012025;
}

#infos h2, p {
    font: 400 1.5rem Poly;
    color: #ffffff;
    text-align: center;
    margin: 1rem 0;
}

#infos p + p {
    margin-top: -0.8rem;
}

#infos iframe {
    margin: 1rem 0;
}

#contato {
    width: 100%;
    height: 70vh;
    justify-content: center;
}

#contato form {
    width: 600px;
    padding: 1rem;
    margin: auto;
    display: grid;
}

#contato form label {
    font: 400 1rem Poly;
    color: #ffffff;
    margin: 0.5rem;
}

#contato form input {
    max-width: 600px;
    height: 0.8rem;
    border: 1px solid #045157;
    border-radius: 5px;
    background: #ececec;
    padding: 0.8rem;
    font: 400 1rem Poly;
}

#contato form textarea {
    max-width: 600px;
    height: 100px;
    border: 1px solid #045157;
    border-radius: 5px;
    background: #ececec;
    padding: 0.8rem;
    font: 400 1rem Poly;
}

#form {
    border-radius: 5px;
    margin: 15px auto 0;
}

footer {
    padding: 1rem 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

footer p {
    font-size: 16px;
}